/* You can add global styles to this file, and also import other style files */
.wrap ul {
  list-style: none;
  padding: 0;
}

.wrap li {
  display: flex;
  padding: 1rem;
}

.wrap li img {
  width: 30%;
  height: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  margin-right: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 4px #ccc;
}

.wrap li a {
  color: #7e360d;
  text-decoration: none;
}